<div class= "container text-light">
<h1>Add Actor</h1>
<%= form_for @actor , url:{action: "create"} do |f| %>

        <%= f.label :name, '- name ' %><br>
        <%= f.text_field :name  %><br><br>

        <%=  f.label :img,'- img ' %><br>
        <%= f.text_field :img %><br><br>
        
        <%= f.submit "Save" , :class => "btn btn-secondary btn-lg thht" %>
        <% end %>
</div>
