<h1>Edit</h1>

<%= form_for @movie, url:{action: "update"} do |f| %>

        <%= f.label :image, 'Image : ' %><br>
        <%= f.text_field :image %><br><br>

        <%= f.label :title, 'title : ' %><br>
        <%= f.text_field :title %><br><br>

        <%= f.label :year, 'Year : ' %><br>
        <%= f.text_field :year %><br><br>

        <%= f.label :star, 'Star :' %><br>
        <%= f.text_field :star  %><br><br>

        <%= f.submit " Save " %>

<% end %>


<%= link_to 'Show', @movie %> |
<%= link_to 'Back', movies_path %>