   <div class="moviesh">
    <% @movies.each do |movie| %>
    <table>

    <tbody>
        <tr><td>
        <img class="movgallery" src=<%= movie.image %> height="200", width="200">
        </td></tr>
        <tr><td>
        <%= movie.title %>
        </td></tr>
        </div>
       
 
      <% if current_user.id == movie.user_id %>
      <tr><td><%= link_to 'Movie Cast', movie , :class => "btn btn-secondary btn-lg thht" %></td></tr>
      <tr><td><%= link_to 'Edit Info', edit_movie_path(movie), :class => "btn btn-secondary btn-lg thht" %></td></tr>
      <tr><td><%= link_to 'Delete', movie, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-secondary btn-lg thht" %></td></tr>
      <% else%>
      <tr><td><%= link_to 'Movie Cast', movie , :class => "btn btn-secondary btn-lg thht" %></td></tr>
    <%end%>
 <%end%> <!-- END OF THE LOOPS-->

  </tbody>
</table>
</div>

