
<link href="https://fonts.googleapis.com/css?family=Tenor+Sans&display=swap" rel="stylesheet">


<div class="container my_container">
    <img class="movgallery" src="<%=@movie.image%>"  >
    <h1>Title: <%= @movie.title %> </h1>
    <h1>Release date:  <%= @movie.year %> </h1> 
    <h1>Movie Star:   <%= @movie.star %> </h1> 
    <br>
</div>


<div style="width:100%">
<% @movie.actors.each do |actor|%>
<table class="pleaseme">  
  <tbody>
    <tr><td>
    <img  src=<%= actor.img%> height="150", width="150">
    </td></tr>
    <tr><td>
    <%= actor.name %>
    </td></tr>
    </tbody></table>
<% end %>
</div>
      <% if current_user.id == @movie.user_id %>
      <%= link_to 'Add Actor', actors_new_path(@movie), :class => "btn btn-secondary btn-lg thht" %> 
      <% else%>
         <!-- <%= link_to 'Movie Cast', @movie , :class => "btn btn-secondary btn-lg thht" %> -->
      <% end %>

